osx_image: xcode10.1
language: swift
before_script:
  - make generate
script:
  - ./tmp/SwiftLint lint --strict
  - xcodebuild -project Area51.xcodeproj -scheme Area51 -destination platform\=iOS\ Simulator,OS\=12.0,name\=iPhone\ X -configuration Debug build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty
  - make test
