#include "user.xcconfig"
#include "bundleIdentifier.xcconfig"
CODE_SIGN_IDENTITY = iPhone Developer
ALWAYS_SEARCH_USER_PATHS = NO
COPY_PHASE_STRIP = NO
IPHONEOS_DEPLOYMENT_TARGET = 12.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = iphoneos
SWIFT_VERSION = 4.2
TARGETED_DEVICE_FAMILY = 1,2
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
GCC_TREAT_WARNINGS_AS_ERRORS = YES
